@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,600;0,700;1,200&display=swap");

* {
  font-family: "Titillium Web";
}

body {
  margin: 0;
  background-color: #545454;
}
